################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/back-end/back-end/appsettings.json
/back-end/back-end/appsettings.json
/back-end/back-end/appsettings.json
